<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Chart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'%>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Crypto Currencies</h5>
      <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#">Crypto</a>
      <a class="p-2 text-dark" href="#">About</a>
  </nav>
  <iframe src="https://github.com/sponsors/DrGloo/button" title="Sponsor DrGloo" height="35" width="116" style="border: 0;"></iframe>
</div>

    <%= yield %>
  </body>
</html>
